/* .login-box {
  max-width: 400px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.underline {
  width: 50px;
  height: 3px;
  background-color: black;
  margin: 0 auto 20px;
  border-radius: 2px;
} */
 .login-box {
  max-width: 400px; /* Tăng chiều rộng tối đa */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  margin: 0 auto; /* Canh giữa nếu chưa có */
}

.underline {
  width: 100px;
  height: 3px;
  background-color: black;
  margin: 0 auto 20px;
  border-radius: 2px;
}

